
<h1>就職試験受験報告書 (検索)</h1>

<%= form_tag('/et_searchs') do %>
  <p>
  事業所名
  <br>
  <%= text_field_tag 'search[office_name]' %>
  </p>
  <p>
  職種
  <br>
  <%= text_field_tag 'search[job_category]' %>
  </p>
  <p>
  求人票受付番号
  <br>
  <%= text_field_tag 'search[job_vote_number]' %>
  </p>
  <p>
  所在地
  <br>
  <%= text_field_tag 'search[street_address]' %>
  </p>
  <%= submit_tag '検索' %>
  <% end %>
 
<table border="1" cellspacing="0" bordercolor="#000000">
  <thead>
    <tr>
      <th>県名</th>
      <th>職種</th>
    　<th>事業所名</th>
    </tr>
  </thead>

  <tbody>
    <% @et_reports.each do |et_report| %>
      <tr> 
        <td><%= et_report.street_address.match(/.*[都道府県]/) %></td>
        <td><%= et_report.job_category %></td>
        <td><%= et_report.office_name %></td>
        <td><%= link_to '詳細', et_report_path(et_report) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '戻る', home_retrieval_top_path %>
