
<h1>入学受験報告書 (検索)</h1>

<%= form_tag(action: :search) do %>
  <p>
  学校名
  <br>
  <%= text_field_tag 'search[school_name]' %>
  </p>
  <p>
  学部
  <br>
  <%= text_field_tag 'search[s_faculty_name]' %>
  </p>
  <p>
  所在地
  <br>
  <%= text_field_tag 'search[street_address]' %>
  </p>
  <%= submit_tag '検索' %>
  <% end %>

<table border="1" cellspacing="0" bordercolor="#000000">
  <thead>
    <tr>
      <th>県名</th>
      <th>学校名</th>
      <th>学部名</th>
      <th>入試形態</th>
    </tr>
  </thead>

  <tbody>
    <% @ee_reports.each do |ee_report_search| %>
      <tr>
        <td><%= ee_report_search.street_address.match(/.*[都道府県]/) %></td>
        <td><%= ee_report_search.school_name %></td>
        <td><%= ee_report_search.s_faculty_name %></td>
        <td><%= ee_report_search.entrance_form %></td>
        <td><%= link_to '詳細', ee_report_search %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '検索トップに戻る', home_retrieval_top_path %>
