<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ユーザーid %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :氏名 %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :パスワード %>
    <%= form.password_field :password %>
    <%= form.label :パスワード再入力 %>
    <%= form.password_field :password_confirmation %>
  </div>

    <%= form.hidden_field :flg, :value => "0" %>


    <div class="field">
    <%= form.label :年度 %>
    <%= form.number_field :annual %>
  </div>

  <div class="field">
    <%= form.label :権限 %>
  </div>
  <label><%= form.radio_button :authority, "0" %> 教員</label>
  <label><%= form.radio_button :authority, "1", {:checked => true}  %> 生徒</label>
  <label><%= form.radio_button :authority, "2" %> 閲覧のみ</label>
  

  <div class="actions">
    <%= form.submit :登録%>
  </div>
<% end %>


