<p id="notice"><%= notice %></p>


<h1>ログインユーザー一覧</h1>

<%= form_tag('/users_search') do %>
 <p>
 名前（部分一致）
 <br>
 <%= text_field_tag 'search[name]',@name %>
 </p>
 <p>
 年度
 <br>
 <%= text_field_tag 'search[annual]',@annual %>
 </p>
 <%= submit_tag '検索' %>
 <% end %>

<%= link_to '新規登録', new_user_path %>

<table border="1" cellspacing="0" bordercolor="#000000">
  <thead>
    <tr>
      <th>ユーザー名</th>
      <th>ユーザーID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.user_id %></td>
        <td><%= link_to '詳細', user_path(user) %></td>
        <td><%= link_to '編集', edit_user_path(user) %></td>
        <td><%= link_to '複写', copy_user_path(user) %></td>
      </tr>
    <% end %>
    <%= paginate @users %>
  </tbody>
</table>

<p><%= link_to 'トップへ戻る', home_top_path %></p>

<br>

