<%= form_with(model: ee_report, local: true) do |form| %>
  <% if ee_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ee_report.errors.count, "error") %> prohibited this ee_report from being saved:</h2>

      <ul>
      <% ee_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :報告年月日 %>
    <%= form.date_select :reporting_date %>
  </div>

  <div style="display:inline-flex">
  <div style="margin-right:20px;">
  <div class="field">
   3年 <%= form.number_field :student_class %>組
  </div>
  </div>

  <div style="margin-right:20px;">
  <div class="field">
    <%= form.number_field :student_number %>番
  </div>
  </div>

  <div style="margin-right:20px;">
  <div class="field">
  受験者ID<%= form.text_field :student_id ,readonly: true, class: 'readonly_text'%>
  </div>
  </div>
  </div>

  <div style="margin-top:10px;">
  <div style="margin-right:20px;">
  <div class="field">
  学校名<%= form.text_field :school_name %>
  </div>
  </div>
  </div>

  <div style="display:inline-flex">
  <div style="margin-top:10px;">
  <div style="margin-right:20px;">
  <div class="field">
  学部名 <%= form.text_field :s_faculty_name %>
  </div>
  </div>
  </div>

  <div style="margin-top:10px;">
  <div style="margin-right:20px;">
  <div class="field">
  学科名<%= form.text_field :s_department_name %>
  </div>
  </div>
  </div>

  <div style="margin-top:10px;">
  <div style="margin-right:20px;">
  <div class="field">
  コース名<%= form.text_field :s_course_name %>
  </div>
  </div>
  </div>
  </div>

  <div class="field">
    <%= form.label :試験日 %>
    <%= form.date_select :test_day %>
  </div>

  <div style="display:inline-flex">
  <div style="margin-right:20px;">
  <div class="field">
    <%= form.label :郵便番号 %>
    〒<%= form.number_field :postal_code %>（例 6930001）
  </div>
  </div>

  <div class="field">
    <%= form.label :所在地 %>
    <%= form.text_field :street_address %>  
  </div>
  </div>
<br>
  <div style="display:inline-flex">
  <div class="field">
    <%= form.label :試験会場 %>
    <%= form.text_field :examination_hall %>
  </div>
  </br>

  <div style="margin-right:20px;">
  <div class="field">
    <%= form.label :合格発表日 %>
    <%= form.date_select :result_publication_date %>
  </div>
  </div>
</div>

  <div class="field">
    <%= form.label :入試形態 %>
    </div>
    <label><%= form.radio_button :entrance_form,"1" %>一般入試</label>
    <label><%= form.radio_button :entrance_form,"2" %>推薦入試</label>
    
    <div style="margin-top:10px;">
    <%= form.label :推薦入試形態 %>
    <div style="display:inline-flex">
    <label><%= form.radio_button :recommended_group,"1" %>特別入試</label>
    <label><%= form.radio_button :recommended_group,"2" %>指定校推薦</label>
    <label><%= form.radio_button :recommended_group,"3" %>AO推薦</label>
    <label><%= form.radio_button :recommended_group,"4" %>一般推薦</label>    
    <label><%= form.radio_button :recommended_group,"5" %>スポーツ推薦</label>
    <label><%= form.radio_button :recommended_group,"6" %>自己推薦</label>
    <label><%= form.radio_button :recommended_group,"7" %>その他の推薦</label>
    </div>
    </div>

    <div style="margin-top:40px;">
    <%= form.label :１「一般入試」受験者 %>
    </div>

    <div style="display:inline-flex">
    <div style="margin-right:20px;">
  <div class="field">
    <%= form.label :試験時間（国語） %>
    <%= form.number_field :t_subject_japanese %>分
  </div>
  </div>

  <div style="margin-right:20px;">
  <div class="field">
    <%= form.label :試験時間（数学） %>
    <%= form.number_field :t_subject_math %>分
  </div>
  </div>

  <div style="margin-right:20px;">
  <div class="field">
    <%= form.label :試験時間（社会） %>
    <%= form.number_field :t_subject_society %>分
  </div>
  </div>

  <div style="margin-right:20px;">
  <div class="field">
    <%= form.label :試験時間（理科） %>
    <%= form.number_field :t_subject_science %>分
  </div>
  </div>

  <div style="margin-right:20px;">
  <div class="field">
    <%= form.label :試験時間（英語） %>
    <%= form.number_field :t_subject_english %>分
  </div>
  </div>

  <div class="field">
    <%= form.label :試験科目（その他） %>
    <%= form.text_field :t_subject_other %>
  </div>

  <div style="margin-right:20px;">
  <div class="field">
    <%= form.label :試験時間（その他） %>
    <%= form.number_field :t_subject_other_time %>分
  </div>
  </div>
  </div>

  <div class="field">
    <%= form.label :問題の内容 %>
    <%= form.text_area :g_q_contents, :size=>"60x10" %>
  </div>

  
  <div style="margin-left:350px;">
  <div class="field">
    <%= form.label :問題画像の添付 %>
    <%= form.file_field :g_q_image %>
  </div>
  </div>

  <div class="field">
    <%= form.label :感想（一般） %>
    <%= form.text_area :g_impressions, :size=>"60x10" %>
  </div>

  <div class="field">
    <%= form.label :推薦形態 %>
   </div>
  <div style="display:inline-flex">
  <label><%= form.radio_button :recommended_form,"1" %>「書類選考」のみ</label>
  <label><%= form.radio_button :recommended_form,"2" %>「書類選考」＋「面接」</label>
  </div>
<br>
  <div style="display:inline-flex">
  <label>
  <%= form.radio_button :recommended_form,"3" %>「書類選考」＋「面接」＋ 試験</label>
  <label style="margin-right:20px;">
  <%= form.radio_button :recommended_form,"4" %>「書類選考」＋「面接」＋ 小論文（作文）</label>
  </div>
  </br>
  <label><%= form.radio_button :recommended_form,"5" %>「書類選考」＋「面接」＋ 小論文（作文）＋ 試験</label>
  <div style="margin-top:50px;">
  <%= form.label :２「推薦入試」受験者%>
  </div>


  <div class="field">
    <%= form.label :（a）面接の内容 %>
    <%= form.text_area :i_q_contents, :size=>"60x10" %> 

  </div>

  <div style="margin-left:350px;">
  <div class="field">
    <%= form.label :面接画像の添付 %>
    <%= form.file_field :i_q_images %>
  </div>
  </div>

  <div class="field">
    <%= form.label :（b）小論文のテーマ %>
    <%= form.text_area :e_contents, :size=>"60x10" %>
  </div>

  <div class="field">
    <%= form.label :（c）試験の内容 %>
    <%= form.text_area :w_contents, :size=>"60x10" %>
  </div>

  <div class="field">
    <%= form.label :感想（推薦） %>
    <%= form.text_area :r_impression, :size=>"60x10" %>
  </div>

  <%= form.hidden_field :approval_flg,:value => "0" %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
