<p id="notice"><%= notice %></p>

<p>
  <strong>Reporting date:</strong>
  <%= @ee_report.reporting_date %>
</p>

<p>
  <strong>Student class:</strong>
  <%= @ee_report.student_class %>
</p>

<p>
  <strong>Student number:</strong>
  <%= @ee_report.student_number %>
</p>

<p>
  <strong>Student:</strong>
  <%= @ee_report.student_id %>
</p>

<p>
  <strong>School name:</strong>
  <%= @ee_report.school_name %>
</p>

<p>
  <strong>S faculty name:</strong>
  <%= @ee_report.s_faculty_name %>
</p>

<p>
  <strong>S department name:</strong>
  <%= @ee_report.s_department_name %>
</p>

<p>
  <strong>S course name:</strong>
  <%= @ee_report.s_course_name %>
</p>

<p>
  <strong>Test day:</strong>
  <%= @ee_report.test_day %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @ee_report.postal_code %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @ee_report.street_address %>
</p>

<p>
  <strong>Examination hall:</strong>
  <%= @ee_report.examination_hall %>
</p>

<p>
  <strong>Result publication date:</strong>
  <%= @ee_report.result_publication_date %>
</p>

<p>
  <strong>Entrance form:</strong>
  <%= @ee_report.entrance_form %>
</p>

<p>
  <strong>R special:</strong>
  <%= @ee_report.r_special %>
</p>

<p>
  <strong>R designation:</strong>
  <%= @ee_report.r_designation %>
</p>

<p>
  <strong>R ao:</strong>
  <%= @ee_report.r_ao %>
</p>

<p>
  <strong>R general:</strong>
  <%= @ee_report.r_general %>
</p>

<p>
  <strong>R sports:</strong>
  <%= @ee_report.r_sports %>
</p>

<p>
  <strong>R self:</strong>
  <%= @ee_report.r_self %>
</p>

<p>
  <strong>R others:</strong>
  <%= @ee_report.r_others %>
</p>

<p>
  <strong>T subject japanese:</strong>
  <%= @ee_report.t_subject_japanese %>
</p>

<p>
  <strong>T subject math:</strong>
  <%= @ee_report.t_subject_math %>
</p>

<p>
  <strong>T subject society:</strong>
  <%= @ee_report.t_subject_society %>
</p>

<p>
  <strong>T subject science:</strong>
  <%= @ee_report.t_subject_science %>
</p>

<p>
  <strong>T subject english:</strong>
  <%= @ee_report.t_subject_english %>
</p>

<p>
  <strong>T subject other:</strong>
  <%= @ee_report.t_subject_other %>
</p>

<p>
  <strong>T subject other time:</strong>
  <%= @ee_report.t_subject_other_time %>
</p>

<p>
  <strong>G q contents:</strong>
  <%= @ee_report.g_q_contents %>
</p>

<p>
  <strong>G q image:</strong>
  <%= @ee_report.g_q_image %>
</p>

<p>
  <strong>G impressions:</strong>
  <%= @ee_report.g_impressions %>
</p>

<p>
  <strong>Recommended form:</strong>
  <%= @ee_report.recommended_form %>
</p>

<p>
  <strong>I q contents:</strong>
  <%= @ee_report.i_q_contents %>
</p>

<p>
  <strong>I q images:</strong>
  <%= @ee_report.i_q_images %>
</p>

<p>
  <strong>E contents:</strong>
  <%= @ee_report.e_contents %>
</p>

<p>
  <strong>W contents:</strong>
  <%= @ee_report.w_contents %>
</p>

<p>
  <strong>R impression:</strong>
  <%= @ee_report.r_impression %>
</p>

<%= link_to 'Edit', edit_ee_report_path(@ee_report) %> |
<%= link_to 'Back', ee_reports_path %>
