<p id="notice"><%= notice %></p>
<table width = "90%" border="1">
  <tr>
    <th>入学試験受験報告書</th>
    <th>進路指導部長</th>
    <th>学年主任</th>
    <th>担任</th>
  　<th>報告年月日</th>
  </tr>

  <tr>
   <td></td><td></td><td></td><td></td><td><%= @ee_report.reporting_date.strftime("%Y年%m月%d日") %></td>
  </tr>
</table>
<p>
  <strong>報告年月日:</strong>
  <%= @ee_report.reporting_date.strftime("%Y年%m月%d日") %>
</p>

<p>
  <strong>組:</strong>
  <%= @ee_report.student_class %>
</p>

<p>
  <strong>番:</strong>
  <%= @ee_report.student_number %>
</p>

<p>
  <strong>受験者ID:</strong>
  <%= @ee_report.student_id %>
</p>

<p>
  <strong>学校名:</strong>
  <%= @ee_report.school_name %>
</p>

<p>
  <strong>学部名:</strong>
  <%= @ee_report.s_faculty_name %>
</p>

<p>
  <strong>学科名:</strong>
  <%= @ee_report.s_department_name %>
</p>

<p>
  <strong>コース名:</strong>
  <%= @ee_report.s_course_name %>
</p>

<p>
  <strong>試験日:</strong>
  <%= @ee_report.test_day.strftime("%Y年%m月%d日") %>
</p>

<p>
  <strong>郵便番号:</strong>
  <%= @ee_report.postal_code %>
</p>

<p>
  <strong>所在地:</strong>
  <%= @ee_report.street_address %>
</p>

<p>
  <strong>試験会場:</strong>
  <%= @ee_report.examination_hall %>
</p>

<p>
  <strong>合格発表日:</strong>
  <%= @ee_report.result_publication_date.strftime("%Y年%m月%d日") %>
</p>

<p>
  <strong>入試形態:</strong>
  <% case @ee_report.entrance_form %>
  <% when 1 then %>
    一般入試
  <% when 2 then %>
    推薦入試
    <% end %>
  </p>

<p>
  <strong>推薦入試形態:</strong>
  <% case @ee_report.recommended_group %>
  <% when 1 then %>
    特別入試
  <% when 2 then %>
    指定校推薦
  <% when 3 then %>
    AO推薦
  <% when 4 then %>
    一般推薦
  <% when 5 then %>
    スポーツ推薦
  <% when 6 then %>
    自己推薦
  <% when 7 then %>
    その他の推薦
    <% end %>
    </p>

<p>
  <strong>試験時間（国語）:</strong>
  <%= @ee_report.t_subject_japanese %>分
</p>

<p>
  <strong>試験時間（数学）:</strong>
  <%= @ee_report.t_subject_math %>分
</p>

<p>
  <strong>試験時間（社会）:</strong>
  <%= @ee_report.t_subject_society %>分
</p>

<p>
  <strong>試験時間（理科）:</strong>
  <%= @ee_report.t_subject_science %>分
</p>

<p>
  <strong>試験時間（英語）:</strong>
  <%= @ee_report.t_subject_english %>分
</p>

<p>
  <strong>試験科目（その他）:</strong>
  <%= @ee_report.t_subject_other %>
</p>

<p>
  <strong>試験時間（その他）:</strong>
  <%= @ee_report.t_subject_other_time %>分
</p>

<p>
  <strong>問題の内容:</strong>
  <%= @ee_report.g_q_contents %>
</p>

<p>
  <strong>問題画像:</strong>
  <%= image_tag "/images/#{@ee_report.g_q_image}",width: 200 %>
  </p>

<p>
  <strong>感想:</strong>
  <%= @ee_report.g_impressions %>
</p>

<p>
  <strong>推薦形態:</strong>
  <% case @ee_report.recommended_form %>
  <% when 1 then %>
    書類選考のみ
  <% when 2 then %>
    「書類選考」＋「面接」
  <% when 3 then %>
    「書類選考」＋「面接」＋ 試験
  <% when 4 then %>
    「書類選考」＋「面接」＋ 小論文（作文）
  <% when 5 then %>
    「書類選考」＋「面接」＋ 小論文（作文）＋ 試験
    <% end %>
</p>

<p>
  <strong>面接内容:</strong>
  <%= @ee_report.i_q_contents %>
</p>

<p>
  <strong>面接画像:</strong>
  <%= image_tag "/images/#{@ee_report.i_q_images}",width: 200 %>

</p>

<p>
  <strong>小論文の内容:</strong>
  <%= @ee_report.e_contents %>
</p>

<p>
  <strong>筆記の内容:</strong>
  <%= @ee_report.w_contents %>
</p>

<p>
  <strong>感想（推薦）:</strong>
  <%= @ee_report.r_impression %>
</p>

<p>
  <strong>承認フラグ:</strong>
  <% case @ee_report.approval_flg %>
  <% when 0 then %>
   未承認
  <% when 1 then %>
  　承認済み
  <% end %>
</p>

<%= link_to '編集', edit_ee_report_path(@ee_report) %> |
<%= link_to '戻る', home_top_path %>
<%= form_tag('/ee_reports/output') do %>
  <%= submit_tag '印刷' %>
  <%= hidden_field_tag "output_id", @ee_report.id %>
<% end %>
<%= form_tag('/ee_reports/approval') do %>
  <%= submit_tag '承認' %>
  <%= hidden_field_tag "approval_id", @ee_report.id %>
<% end %>
