<%= session[:login_id] %>
<p id="notice"><%= notice %></p>
<table width = "90%" border="1">
  <tr>
    <th colspan="3" rowspan="2">入学試験受験報告書</th>
    <th>進路指導部長</th>
    <th>学年主任</th>
    <th colspan="2">担任</th>
  　<th>報告年月日</th>
  </tr>

  <tr>
   <td></td><td></td><td colspan="2"></td><td><%= @ee_report.reporting_date.strftime("%Y年%m月%d日") %></td>
  </tr>
  
  <tr>
    <th>受験者</th>
    <td colspan="3">3年<%= @ee_report.student_class %>組<%= @ee_report.student_number %>番</td>
    <th>氏名</th>
    <td colspan="3"><%= @ee_report.student_id %></td>
  </tr>

  <tr>
    <th>学校名</th>
    <td colspan="8"><%= @ee_report.school_name %></td>
  </tr>

  <tr>
    <th>学部</th>
    <td colspan="2"><%= @ee_report.s_faculty_name %></td>
    <th>学科</th>
    <td colspan="2"><%= @ee_report.s_department_name %></td>
    <th>コース</th>
    <td colspan="2"><%= @ee_report.s_course_name %></td>
  </tr>

  <tr>
    <th>所在地</th>
    <td colspan="5"><%= @ee_report.street_address %></td>
    <th>試験日</th>
    <td colspan="2"><%= @ee_report.test_day.strftime("%m月%d日") %></td>
  </tr>

  <tr>
    <th>試験場</th>
    <td colspan="5"><%= @ee_report.examination_hall %></td>
    <th>合格発表日</th>
    <td colspan="2"><%= @ee_report.result_publication_date.strftime("%m月%d日") %></td>
  </tr>
 
  <tr>
    <th rowspan="2">入試形態</th>
    <th>一般入試</th>
    <th colspan="7"></th>
  </tr>
 
  <% case @ee_report.recommended_group %>
    <% when 1 then %>
      <% recommended_group = "特別入試" %>
    <% when 2 then %>
      <% recommended_group = "指定校推薦" %>
    <% when 3 then %>
      <% recommended_group = "AO推薦" %>
    <% when 4 then %>
      <% recommended_group = "一般推薦" %>
    <% when 5 then %>
      <% recommended_group = "スポーツ推薦" %>
    <% when 6 then %>
      <% recommended_group = "自己推薦" %>
    <% when 7 then %>
      <% recommended_group = "その他の推薦" %>
  <% end %>
  <tr>
    <th>推薦入試</th>
    <td colspan="7"><%= recommended_group %></td>
  </tr>
</table>

<strong>Ⅰ「一般入試」の受験者</strong>

<table width = "90%" border="1">
  <tr>
    <th rowspan="2">試験科目</th>
    <th>国語</th>
    <th>数学</th>
    <th>社会</th>
    <th>理科</th>
    <th>英語</th>
    <th colspan="2"><%= @ee_report.t_subject_other %></th>
  </tr>

  <tr>
    <td><%= @ee_report.t_subject_japanese %>分</td>
    <td><%= @ee_report.t_subject_math %>分</td>
    <td><%= @ee_report.t_subject_society %>分</td>
    <td><%= @ee_report.t_subject_science %>分</td>
    <td><%= @ee_report.t_subject_english %>分</td>
    <td colspan="2"><%= @ee_report.t_subject_other_time %>分</td>
  </tr>

  <tr>
    <th >問題の内容</th>
    <td colspan="7"><%= @ee_report.g_q_contents %><br><%= image_tag "/images/#{@ee_report.g_q_image}",width: 200 %>
    </td>
  </tr>

  <tr>
    <th>【感想】</th>
    <td colspan="7"><%= @ee_report.g_impressions %></td>
  </tr>
</table>

<strong>Ⅱ「推薦入試」の受験者</strong>

<% case @ee_report.recommended_form %>
  <% when 1 then %>
    <% recommended_form = "書類選考のみ" %>
  <% when 2 then %>
    <% recommended_form = "「書類選考」＋「面接」" %>
  <% when 3 then %>
    <% recommended_form = "「書類選考」＋「面接」＋ 試験" %>
  <% when 4 then %>
    <% recommended_form = "「書類選考」＋「面接」＋ 小論文（作文）" %>
  <% when 5 then %>
    <% recommended_form = "「書類選考」＋「面接」＋ 小論文（作文）＋ 試験" %>
    <% end %>

<table width = "90%" border="1">
  <tr>
  <th>形態</th>
  <td colspan="8"><%= recommended_form %></td>
  </tr>

  <tr>
    <td colspan="8">「面接」での質問内容<br><%= @ee_report.i_q_contents %><br><%= image_tag "/images/#{@ee_report.i_q_images}",width: 200 %></td>
  </tr>

  <tr>
    <td colspan="8">「小論文」(作文)のテーマ<br><%= @ee_report.e_contents %></td>
  </tr>

  <tr>
    <td colspan="8">「試験」の内容<br><%= @ee_report.w_contents %></td>
  </tr>

  <tr>
    <td colspan="8">【感想】<br><%= @ee_report.r_impression %></td>
  </tr>

</table>

<% if @user_authority == 3 %>
<%= link_to '編集', edit_ee_report_path(@ee_report) %> 
<% end %>
<%= link_to '戻る', :back %>
  <%= form_tag('/ee_reports/output') do %>
    <%= submit_tag '印刷' %>
    <%= hidden_field_tag "output_id", @ee_report.id %>
  <% end %>
<% if @path[:controller] == "unapproved_reports" %>
  <%= form_tag('/ee_reports/approval') do %>
    <%= submit_tag '承認' %>
    <%= hidden_field_tag "approval_id", @ee_report.id %>
  <% end %>
<% end %>
