<p id="notice"><%= notice %></p>

<p>
  <strong>報告年月日:</strong>
  <%= @ee_report.reporting_date %>
</p>

<p>
  <strong>組:</strong>
  <%= @ee_report.student_class %>
</p>

<p>
  <strong>番:</strong>
  <%= @ee_report.student_number %>
</p>

<p>
  <strong>受験者ID:</strong>
  <%= @ee_report.student_id %>
</p>

<p>
  <strong>学校名:</strong>
  <%= @ee_report.school_name %>
</p>

<p>
  <strong>学部名:</strong>
  <%= @ee_report.s_faculty_name %>
</p>

<p>
  <strong>学科名:</strong>
  <%= @ee_report.s_department_name %>
</p>

<p>
  <strong>コース名:</strong>
  <%= @ee_report.s_course_name %>
</p>

<p>
  <strong>試験日:</strong>
  <%= @ee_report.test_day %>
</p>

<p>
  <strong>郵便番号:</strong>
  <%= @ee_report.postal_code %>
</p>

<p>
  <strong>所在地:</strong>
  <%= @ee_report.street_address %>
</p>

<p>
  <strong>試験会場:</strong>
  <%= @ee_report.examination_hall %>
</p>

<p>
  <strong>合格発表日 date:</strong>
  <%= @ee_report.result_publication_date %>
</p>

<p>
  <strong>入試形態:</strong>
  <%= @ee_report.entrance_form %>
</p>

<p>
  <strong>推薦入試形態:</strong>
  <%= @ee_report.recommended_group %>
</p>

<p>
  <strong>試験時間（国語）:</strong>
  <%= @ee_report.t_subject_japanese %>
</p>

<p>
  <strong>試験時間（数学）:</strong>
  <%= @ee_report.t_subject_math %>
</p>

<p>
  <strong>試験時間（社会）:</strong>
  <%= @ee_report.t_subject_society %>
</p>

<p>
  <strong>試験時間（理科）:</strong>
  <%= @ee_report.t_subject_science %>
</p>

<p>
  <strong>試験時間（英語）:</strong>
  <%= @ee_report.t_subject_english %>
</p>

<p>
  <strong>試験科目（その他）:</strong>
  <%= @ee_report.t_subject_other %>
</p>

<p>
  <strong>試験時間（その他）:</strong>
  <%= @ee_report.t_subject_other_time %>
</p>

<p>
  <strong>問題の内容:</strong>
  <%= @ee_report.g_q_contents %>
</p>

<p>
  <strong>問題画像:</strong>
  <%= @ee_report.g_q_image %>
</p>

<p>
  <strong>感想:</strong>
  <%= @ee_report.g_impressions %>
</p>

<p>
  <strong>推薦形態:</strong>
  <%= @ee_report.recommended_form %>
</p>

<p>
  <strong>面接内容:</strong>
  <%= @ee_report.i_q_contents %>
</p>

<p>
  <strong>面接画像:</strong>
  <%= @ee_report.i_q_images %>
</p>

<p>
  <strong>小論文の内容:</strong>
  <%= @ee_report.e_contents %>
</p>

<p>
  <strong>筆記の内容:</strong>
  <%= @ee_report.w_contents %>
</p>

<p>
  <strong>感想（推薦）:</strong>
  <%= @ee_report.r_impression %>
</p>

<%= link_to '編集', edit_ee_report_path(@ee_report) %> |
<%= link_to '戻る', ee_reports_path %>
