<h1>報告書未承認一覧</h1>

<table>
  <thead>
    <tr>
      <th>受験者ID</th>
      <th>学校名・企業名</th>
    </tr>
  </thead>

  <tbody>
    <% @ee_reports.each do |ee_report| %>
      <tr>
        <td><%= ee_report.student_id %></td>
        <td><%= ee_report.school_name %></td>
        <td><%= link_to '閲覧', ee_report %></td>
      </tr>
    <% end %>
    <% @et_reports.each do |et_report| %>
        <tr>
          <td><%= et_report.student_id %></td>
          <td><%= et_report.office_name %></td>
          <td><%= link_to '閲覧', ee_report %></td>
        </tr>
      <% end %>
  
  </tbody>
</table>

<br>

<br>
<td><%= link_to 'トップページへ戻る', home_top_path %></td>
