<p id="notice"><%= notice %></p>

<h1>就職試験受験報告書</h1>

<table>
  <thead>
    <tr>
      <th>報告年月日</th>
      <th>組</th>
      <th>番号</th>
      <th>受験者ID</th>
      <th>職種</th>
    　<th>事業所名</th>
    　<th>求人票受付番号</th>
      <th>紹介番号</th>
      <th>試験日</th>
      <th>郵便番号</th>
      <th>所在地</th>
      <th>試験会場</th>
      <th>選考方法</th>


      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @et_reports.each do |et_report| %>
      <tr>
    
      　<td><%= et_report.reporting_date %></td>
        <td><%= et_report.student_class %></td>
        <td><%= et_report.student_number %></td>
        <td><%= et_report.student_id %></td>
        <td><%= et_report.job_category %></td>
        <td><%= et_report.office_name %></td>
        <td><%= et_report.job_vote_number %></td>
        <td><%= et_report.introduction_number %></td>
        <td><%= et_report.test_day %></td>
        <td><%= et_report.postal_code %></td>
        <td><%= et_report.street_address %></td>
        <td><%= et_report.examination_hall %></td>
        <td><%= et_report.selection_method %></td>
        <td><%= link_to '閲覧', et_report %></td>
        <td><%= link_to '編集', edit_et_report_path(et_report) %></td>
        <td><%= link_to '削除', et_report, method: :delete, data: { confirm: '削除してもよろしいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '報告書作成', new_et_report_path %>
