<p id="notice"><%= notice %></p>

<p>
  <strong>Reporting date:</strong>
  <%= @et_report.reporting_date %>
</p>

<p>
  <strong>Student class:</strong>
  <%= @et_report.student_class %>
</p>

<p>
  <strong>Student number:</strong>
  <%= @et_report.student_number %>
</p>

<p>
  <strong>Student:</strong>
  <%= @et_report.student_id %>
</p>

<p>
  <strong>Job category:</strong>
  <%= @et_report.job_category %>
</p>

<p>
  <strong>Office name:</strong>
  <%= @et_report.office_name %>
</p>

<p>
  <strong>Job vote number:</strong>
  <%= @et_report.job_vote_number %>
</p>

<p>
  <strong>Introduction number:</strong>
  <%= @et_report.introduction_number %>
</p>

<p>
  <strong>Test day:</strong>
  <%= @et_report.test_day %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @et_report.postal_code %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @et_report.street_address %>
</p>

<p>
  <strong>Examination hall:</strong>
  <%= @et_report.examination_hall %>
</p>

<p>
  <strong>Examinees count man:</strong>
  <%= @et_report.examinees_count_man %>
</p>

<p>
  <strong>Examinees count woman:</strong>
  <%= @et_report.examinees_count_woman %>
</p>

<p>
  <strong>Selection method:</strong>
  <%= @et_report.selection_method %>
</p>

<p>
  <strong>S method writing:</strong>
  <%= @et_report.s_method_writing %>
</p>

<p>
  <strong>S method appropriate:</strong>
  <%= @et_report.s_method_appropriate %>
</p>

<p>
  <strong>S method interview:</strong>
  <%= @et_report.s_method_interview %>
</p>

<p>
  <strong>S method composition:</strong>
  <%= @et_report.s_method_composition %>
</p>

<p>
  <strong>S method physical:</strong>
  <%= @et_report.s_method_physical %>
</p>

<p>
  <strong>S method other:</strong>
  <%= @et_report.s_method_other %>
</p>

<p>
  <strong>T subject japanese:</strong>
  <%= @et_report.t_subject_japanese %>
</p>

<p>
  <strong>T subject math:</strong>
  <%= @et_report.t_subject_math %>
</p>

<p>
  <strong>T subject society:</strong>
  <%= @et_report.t_subject_society %>
</p>

<p>
  <strong>T subject science:</strong>
  <%= @et_report.t_subject_science %>
</p>

<p>
  <strong>T subject english:</strong>
  <%= @et_report.t_subject_english %>
</p>

<p>
  <strong>T subject other name:</strong>
  <%= @et_report.t_subject_other_name %>
</p>

<p>
  <strong>T subject other time:</strong>
  <%= @et_report.t_subject_other_time %>
</p>

<p>
  <strong>T subject general:</strong>
  <%= @et_report.t_subject_general %>
</p>

<p>
  <strong>T subject aptitude:</strong>
  <%= @et_report.t_subject_aptitude %>
</p>

<p>
  <strong>I method one:</strong>
  <%= @et_report.i_method_one %>
</p>

<p>
  <strong>I method count:</strong>
  <%= @et_report.i_method_count %>
</p>

<p>
  <strong>Judge count:</strong>
  <%= @et_report.judge_count %>
</p>

<p>
  <strong>I time:</strong>
  <%= @et_report.i_time %>
</p>

<p>
  <strong>I other:</strong>
  <%= @et_report.i_other %>
</p>

<p>
  <strong>I contents:</strong>
  <%= @et_report.i_contents %>
</p>

<p>
  <strong>I image:</strong>
  <%= @et_report.i_image %>
</p>

<p>
  <strong>Composition title:</strong>
  <%= @et_report.composition_title %>
</p>

<p>
  <strong>C sheet count:</strong>
  <%= @et_report.c_sheet_count %>
</p>

<p>
  <strong>Writing test contents:</strong>
  <%= @et_report.writing_test_contents %>
</p>

<p>
  <strong>Other coment:</strong>
  <%= @et_report.other_coment %>
</p>

<%= link_to 'Edit', edit_et_report_path(@et_report) %> |
<%= link_to 'Back', et_reports_path %>
