<p id="notice"><%= notice %></p>

<p>
  <strong>報告年月日:</strong>
  <%= @et_report.reporting_date.strftime("%Y年%m月%d日") %>
</p>

<p>
  <strong>組:</strong>
  <%= @et_report.student_class %>
</p>

<p>
  <strong>番号:</strong>
  <%= @et_report.student_number %>
</p>

<p>
  <strong>受験者ID:</strong>
  <%= @et_report.student_id %>
</p>

<p>
  <strong>職種:</strong>
  <%= @et_report.job_category %>
</p>

<p>
  <strong>事業所名:</strong>
  <%= @et_report.office_name %>
</p>

<p>
  <strong>求人票受付番号:</strong>
  <%= @et_report.job_vote_number %>
</p>

<p>
  <strong>紹介番号:</strong>
  <% case @et_report.introduction_number %>
   <% when 1 then %>
   学校斡旋
   <% when 2 then %>
   縁故
   <% end %> 
</p>

<p>
  <strong>試験日:</strong>
  <%= @et_report.test_day.strftime("%Y年%m月%d日") %>
</p>

<p>
  <strong>郵便番号:</strong>
  〒<%= @et_report.postal_code %>
</p>

<p>
  <strong>所在地:</strong>
  <%= @et_report.street_address %>
</p>

<p>
  <strong>試験会場:</strong>
  <%= @et_report.examination_hall %>
</p>

<p>
  <strong>男性受験者数:</strong>
  <%= @et_report.examinees_count_man %>人
</p>

<p>
  <strong>女性受験者数:</strong>
  <%= @et_report.examinees_count_woman %>人
</p>

<p>
  <strong>選考方法:</strong>
  <% case @et_report.selection_method %>
  <% when 1 then %>
     一次
  <% when 2 then %>
     二次
  <% end %>
</p>

<p>
  <strong>選考方法（筆記）:</strong>
  <% case @et_report.s_method_writing %>
  <% when true then %>
     有
  <% when false then %>
     無
  <% end %>
</p>

<p>
  <strong>選考方法（適正）:</strong>
  <% case @et_report.s_method_appropriate %>
  <% when true then %>
     有
  <% when false then %>
     無
  <% end %>
</p>

<p>
  <strong>選考方法（面接）:</strong>
  <% case @et_report.s_method_interview %>
  <% when true then %>
     有
  <% when false then %>
     無
  <% end %>
</p>

<p>
  <strong>選考方法（作文）:</strong>
  <% case @et_report.s_method_composition %>
  <% when true then %>
     有
  <% when false then %>
     無
  <% end %>
</p>

<p>
  <strong>選考方法（身体）:</strong>
  <% case @et_report.s_method_physical %>
  <% when true then %>
     有
  <% when false then %>
     無
  <% end %>
</p>

<p>
  <strong>選考方法（その他）:</strong>
  <% case @et_report.s_method_other %>
  <% when true then %>
     有
  <% when false then %>
     無
  <% end %>
</p>

<p>
  <strong>試験時間（国語）:</strong>
  <%= @et_report.t_subject_japanese %>分
</p>

<p>
  <strong>試験時間（数学）:</strong>
  <%= @et_report.t_subject_math %>分
</p>

<p>
  <strong>試験時間（社会）:</strong>
  <%= @et_report.t_subject_society %>分
</p>

<p>
  <strong>試験時間（理科）:</strong>
  <%= @et_report.t_subject_science %>分
</p>

<p>
  <strong>試験時間（英語）:</strong>
  <%= @et_report.t_subject_english %>分
</p>

<p>
  <strong>試験内容（その他の名前）:</strong>
  <%= @et_report.t_subject_other_name %>
</p>

<p>
  <strong>試験時間（その他の時間）:</strong>
  <%= @et_report.t_subject_other_time %>分
</p>

<p>
  <strong>試験内容（一般常識）:</strong>
  <%= @et_report.t_subject_general %>
</p>

<p>
  <strong>試験時間（適正）:</strong>
  <%= @et_report.t_subject_aptitude %>分
</p>

<p>
  <strong>面接方法:</strong>
  <% case @et_report.i_method_one %>
  <% when 1 then %>
    1人
  <% when 2 then %>
    複数
  <% when 3 then %>
    集団討論
  <% end %>
</p>

<p>
  <strong>面接人数:</strong>
  <%= @et_report.i_method_count %>人
</p>

<p>
  <strong>面接委員数:</strong>
  <%= @et_report.judge_count %>人
</p>

<p>
  <strong>面接時間:</strong>
  <%= @et_report.i_time %>分
</p>

<p>
  <strong>その他（面接）:</strong>
  <%= @et_report.i_other %>
</p>

<p>
  <strong>面接内容:</strong>
  <%= @et_report.i_contents %>
</p>

<p>
  <strong>面接の参考画像:</strong>
  <br>
  <%= image_tag "/images/#{@et_report.i_image}",width: 400 %>
</p>

<p>
  <strong>作文（題目）:</strong>
  <%= @et_report.composition_title %>
</p>

<p>
  <strong>用紙数:</strong>
  <%= @et_report.c_sheet_count %>枚
</p>

<p>
  <strong>筆記試験内容:</strong>
  <%= @et_report.writing_test_contents %>
</p>

<p>
  <strong>参考になること記入:</strong>
  <%= @et_report.other_coment %>
</p>

<p>
  <strong>承認フラグ:</strong>
  <% case @et_report.approval_flg %>
  <% when 0 then %>
  未承認
  <% when 1 then %>
  承認
  <% end %>
  </p>

<%= link_to '編集', edit_et_report_path(@et_report) %> |
<%= link_to '戻る', :back %> 
<%= form_tag('output') do %>
  <%= submit_tag '印刷' %>
<% end %>


