<!DOCTYPE html>
<html>
  <head>
    <title>受検報告書管理システム</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <h3 style="text-align: right">受験報告書管理システム</h3>
    <p style="text-align: right">ユーザー名:<%= session[:login_user] %></p>
    <div style="text-align: right">
    <a href="http://localhost:3000/welcome/destroy" style="text-decoration: none;">ログアウト</a>
    </div>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
